@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      box-shadow: 0rem  0rem 7px black;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
        padding: 1rem;
    }
  }